*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(95, 26, 99);
  background: linear-gradient(
    90deg,
    rgba(95, 26, 99, 1) 0%,
    rgba(71, 9, 121, 0.9304096638655462) 35%,
    rgba(68, 0, 255, 1) 100%
  );
}

.mother {
  margin-top: 100px;
}

.container {
  border: 2px solid #323330;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 300px;
  height: 400px;
  margin: 2vh auto 0 auto;
  box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
}

#display {
  font-size: 30px;
  text-align: right;
  height: 75px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
}

.buttons {
  display: grid;
  border-bottom: 1px solid #999;
  border-left: 1px solid#999;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
  border-top: 1px solid #999;
  border-right: 1px solid#999;
}

.button {
  background-color: rgba(36, 60, 104, 0.473);
  /* border: 0.5px solid #999; */
  line-height: 63px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

#equal {
  background-color: rgb(110, 85, 255);
  color: rgb(255, 253, 253);
  font-size: 35px;
}

.button:hover {
  background-color: #323330;
  color: white;
  transition: 0.5s ease-in-out;
}

/* ///////////   CLOCK   //////////*/
/* ///////////   CLOCK   //////////*/
/* ///////////   CLOCK   //////////*/

.pearl {
  margin-top: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

.clock {
  background-image: url(./PNG/clock.png);
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  border: 4px solid rgb(206, 41, 221);
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.315),
    inset 0 -15px 15px rgba(255, 255, 255, 0.315),
    0 15px 15px rgba(255, 255, 255, 0.315),
    inset 0 -15px 15px rgba(255, 255, 255, 0.315);
}

.clock::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  z-index: 1000;
}

.clock .hours,
.clock .minutes,
.clock .seconds {
  position: absolute;
}

.clock .hours,
.hr {
  width: 160px;
  height: 160px;
}

.clock .minutes,
.mn {
  width: 190px;
  height: 200px;
}

.clock .seconds,
.sc {
  width: 230px;
  height: 240px;
}

.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr:before {
  content: "";
  width: 6px;
  height: 80px;
  z-index: 10;
  position: absolute;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: hotpink;
}

.mn:before {
  content: "";
  width: 6px;
  height: 100px;
  z-index: 11;
  position: absolute;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgba(20, 203, 216, 0.993);
}

.sc:before {
  content: "";
  width: 3px;
  height: 120px;
  z-index: 12;
  position: absolute;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: whitesmoke;
}
